---
import Layout from "../layouts/Layout.astro";
import Ingredients from "../sections/Ingredients.astro";
import Inicio from "../sections/Inicio.astro";
import Product from "../sections/Product.astro";
import Clients from "../sections/Clients.astro";
import Footer from "../sections/Footer.astro";
import MapDistributions from "../sections/MapDistributions.astro";
---

<Layout title="Bienvenido a Xocovi">
  <main>
    <Inicio />
    <Product />
    <Ingredients />
    <Clients />
    <MapDistributions />
    <Footer />
  </main>
</Layout>
