---
import Layout from "../layouts/Layout.astro";
import Ingredients from "../sections/Ingredients.astro";
import Inicio from "../sections/Inicio.astro";
import Product from "../sections/Product.astro";
import Clients from "../sections/Clients.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <Inicio />
    <Product />
    <Ingredients />
    <Clients />
  </main>
</Layout>
