---
import StarIcon from "./Icons/StarIcon.astro";

export type ClientCardProps = {
  title: string;
  src: string;
  description: string;
  rangeStars?: number;
};

const { title, src, description, rangeStars } = Astro.props;
function range(range: number = 5) {
  let rangeArray: number[] = [];
  while (rangeArray.length !== range) {
    rangeArray.push(rangeArray.length);
  }
  return rangeArray;
}
---

<div class="card bg-white rounded-3xl shadow-2xl p-5">
  <div class="w-full rounded-t-3xl flex h-fit content-center pb-8 gap-8">
    <img
      src={src}
      class="border-4 border-solid border-red_violet"
    />
    <div class="content-center items-center flex flex-col my-auto">
      <h1 class="font-bold text-5xl">{title}</h1>
      <div class="flex">
        {
          range(rangeStars).map((item) => (
            <>
              <StarIcon />
            </>
          ))
        }
      </div>
    </div>
  </div>
  <div class="h-auto content-center">
    <p class="text-xl italic">
      {description}
    </p>
  </div>
</div>

<style>
  .card {
    width: 700px;
    height: 400px;
    padding: 3rem;
  }
  img {
    width: 9rem;
    border-radius: 100%;
  }
</style>
