---
import type { Props as IngredientCardProps } from "./IngredientCard.astro";
import IngredientCard from "./IngredientCard.astro";

const cardList: IngredientCardProps[] = [
  {
    title: "Árnica",
    imageSrc: "arnica.webp",
    resume:
      "Es una planta que ha sido ampliamente usada de manera alternativa para beneficiarse de manera segura y eficaz en tratamientos destinados al alivio del dolor, reducir la inflamación y los hematomas postraumáticas y posquirúrgicas.",
    processDescripion: "",
  },
  {
    title: "Aceite de Coco",
    imageSrc: "coco.webp",
    resume:
      "Es un gran hidratante en la piel por su elevado contenido de vitamina E y K, antioxidante natural, restablece el ph neutro y sus propiedades de pantalla protectora contra los rayos solares, calma el enrojecimiento y la irritación,  beneficiando a la piel por sus propiedades antimicrobianas, antibióticas, antiflmatoria y su regeneración celular.",
    processDescripion: "",
  },
  {
    title: "Cera de Abeja",
    imageSrc: "cera abeja.webp",
    resume:
      "Sus compuestos nutricionales se pueden aprovechar en beneficio como la gran cantidad de vitamina A su alto contenido de antioxidantes y hidratantes propiedades emolientes y antiinflamatorias.",
    processDescripion: "",
  },
  {
    title: "Aceite esencial de Lavanda",
    imageSrc: "lavanda.webp",
    resume:
      "Tiene propiedades analgésico, regenerador celular, sedante y sobre todo tiene gran poder antiséptico. En una quemadura reciente ayuda a prevenir la aparición de ampollas, así como a regenerar los tejidos. En el caso de las heridas, desinfecta al instante evitando consecuencias posteriores. También es muy utilizado como antiinflamatorio, sobre todo en procesos de reuma o artritis, ayuda a relajarse y calmar el dolor.",
    processDescripion: "",
  },
  {
    title: "Aceite escencial de menta",
    imageSrc: "menta.webp",
    resume:
      "El mentol que contienen las hojas de menta, funciona para combatir los dolores musculares, contribuyen a una circulación sanguínea adecuada, la menta contiene grandes cantidades de vitaminas y minerales en sus hojas, propiedades antisépticas y su olor es efectiva contra la depresión y la fatiga.",
    processDescripion: "",
  },
];
---

<section id="ingredients" class="bg-saffron py-6 xocovi-image">
  <h1 class="shadowed text-3xl font-semibold text-white text-center p-9">
    Ingredientes
  </h1>

  <div
    class="mx-auto lg:max-w-[60%] flex flex-col justify-center items-center gap-4 ingredient"
  >
    {cardList.map((item) => <IngredientCard {...item} />)}
  </div>
</section>

<style>
  .xocovi-image {
    background-image: linear-gradient(
        to bottom,
        rgb(241 187 10) 10%,
        transparent 95%
      ),
      url("/xocovi-background.webp");
    /* background-image: url("/xocovi-background.png"); */
    background-repeat: repeat space;
    background-size: 12rem;
  }

  @media (min-width: 600px) {
    .ingredient {
      max-width: 70%;
    }
  }
</style>
