---
import Carrousel from "../components/Carrousel.astro";
---

<section id="contacto" class="h-screen">
  <div
  class="h-screen flex flex-col gap-10 justify-center items-center content-center"
>
  <h1 class="font-extrabold text-3xl text-white drop-shadow-xl">
    Nuestros Clientes Satisfechos
  </h1>
    <Carrousel />
  </div>
</section>

<style>
  section {
    background-image: url('mosaico.webp');
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>