<section class="md:h-screen content-center description" id="producto">
  <div class="flex w-full justify-center items-center flex-col md:flex-row">
    <div class="md:w-[50%]">
      <img id="producto" class="md:w-8/12 md:mx-auto" src="both-products.png" />
    </div>
    <div class="flex flex-col gap-3 md:w-1/2 md:pl-5 md:pr-24 p-10 text-lg md:text-2xl">
      <p>
        ¡Descubre las propiedades curativas de este bálsamo artesanal! Formulado
        para aliviar dolores, golpes, hematomas, artritis, molestias
        articulares, quemaduras, mejorar la circulación sanguínea y mucho más.
        ¡Una solución natural para tu bienestar!
      </p>
      <p>
        ¡Experimenta el poder curativo del bálsamo de extracto de árnica, un
        ungüento multifuncional elaborado con ingredientes naturales! Gracias a
        sus propiedades antiinflamatorias, analgésicas y antibacterianas, es una
        solución natural ideal para aliviar diversas molestias y promover la
        curación.
      </p>
    </div>
  </div>
</section>
<style>
  .description {
    background-image: linear-gradient(to bottom, white 60%, #f1bb0a);
  }
</style>
